page-home {

}

.button{
    background-color: darkorange;
}

.bagelClick{
    align-content: center;
    border: 1px solid black;
    position: static;
    margin: auto;
    width: 50%;
    height: 25%;
    float: right;
}
