page-bagel {
    -ms-scroll-limit-y-max: 100%;
}

.upperScreen{
    background: seashell;
    height: 45%;
    position: static;
    text-align: center;
    margin-bottom: 1em;
}

.lowerScreen{
    background: lightskyblue;
    height: 50%;
    position: static;
    padding-bottom: 1em;
    margin-bottom: 1em;
}